<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon style="color:rgb(207, 63, 63);" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        players.name
      </ion-label>
      <ion-input type="text" [placeholder]='"players.nameph" | translate' formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        players.surname
      </ion-label>
      <ion-input type="text" [placeholder]='"players.surnameph" | translate' formControlName="surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        players.nickname
      </ion-label>
      <ion-input type="text" [placeholder]='"players.nicknameph" | translate' formControlName="nick"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        players.age
      </ion-label>
      <ion-input type="text" [placeholder]='"players.ageph" | translate' formControlName="age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        players.kda
      </ion-label>
      <ion-input type="text" [placeholder]='"players.kdaph" | translate' formControlName="kda"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        players.role
      </ion-label>
      <ion-input type="text" [placeholder]='"players.roleph" | translate' formControlName="role"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        players.picture
      </ion-label>
      <ion-input type="text" [placeholder]='"players.pictureph" | translate' formControlName="picture"></ion-input>
    </ion-item>
    <div class="container">
      <ion-button color="warning" [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modify":"Add"}}</ion-button>
    </div>
  </form>
</ion-content>