ion-avatar {
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-right: 10px;
}

ion-item, ion-list{
  --background: #1f2029;
  color: #c4c3ca;
}

.joint{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(293deg) brightness(110%) contrast(101%);
}

#date{
  display: block;
}

// IN CASE OF PHONE VIEW, DATE WILL NOT BE SHOWN BECAUSE OF THE LACK OF SPACE, THERE WILL BE SHOWN A EMPTY SPACE (SPACING-DIV)
@media only screen and (max-width: 600px) {
  #date{
    display:none;
  }
  #spacing-div{
    margin-left: 25%;
  }
}
// MEDIUM-TABLET-SIZE
@media only screen and (min-width:440px) and (max-width:800px) {
  #spacing-div{
    margin-left: 45%;
  }
}