<ion-item>
  <ion-avatar>
    <img *ngIf="!ply.picture" alt="Default player picture" src="../../../../assets/icon/default-player.png"/>
    <img *ngIf="ply.picture" alt="Custom player picture" [src]="ply.picture" />
  </ion-avatar>
  <ion-label>{{ply.name}} '{{ply.nick}}' {{ply.surname}} <br><ion-text color="medium">{{ply.role}}</ion-text></ion-label>
  <ion-button icon-only fill="clear" (click)="onFavClick()"><ion-icon style="zoom:1.5" name="heart-outline" color="tertiary" ></ion-icon></ion-button>
  <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="ellipsis-horizontal-circle-outline" ></ion-icon></ion-button>
  <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-circle-outline" ></ion-icon></ion-button>
</ion-item>
