<ion-header>
  <ion-toolbar>
    <!-- MENU -->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title translate [translateParams]="{ language: language }">about.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="about-wrapper">
    <div class="about-left">
      <div class="about-left-content">
        <div>
          <div class="shadow">
            <div class="about-img">
              <img src="../../../assets/icon/about-me-image.jpeg" alt="about image">
            </div>
          </div>

          <h2>David Antúnez Pérez</h2>
          <h3 translate [translateParams]="{ language: language }">about.role</h3>
        </div>

        <ul class="icons">
          <li onclick="location.href='mailto:antunezdavid2003@gmail.com';">
            <ion-icon name="mail"></ion-icon>
          </li>
          <li onclick="location.href='https://www.linkedin.com/in/davidantunezperez/';">
            <ion-icon name="logo-linkedin"></ion-icon>
          </li>
          <li onclick="location.href='https://twitter.com';">
            <ion-icon name="logo-twitter"></ion-icon>
          </li>
          <li onclick="location.href='https://www.instagram.com/daviidantunez_/';">
            <ion-icon name="logo-instagram"></ion-icon>
          </li>
        </ul>
      </div>

    </div>

    <div class="about-right">
      <h1 translate [translateParams]="{ language: language }">about.aboutme<span>!</span></h1>
      <h2 translate [translateParams]="{ language: language }">about.aboutmetitle</h2>

      <div class="about-para">
        <p translate [translateParams]="{ language: language }">about.p1</p>
        <p translate [translateParams]="{ language: language }">
          about.p2
        </p>
      </div>
      <div class="credit"><span translate [translateParams]="{ language: language }">about.madewith</span> <a href="https://https://ionicframework.com/">Ionic Framework</a><span translate [translateParams]="{ language: language }">about.by</span>  <a
          href="https://github.com/DavidAntunezPerez">David Antúnez Pérez</a></div>
    </div>
  </div>
</ion-content>