<ion-header>
  <ion-toolbar>
    <!-- MENU -->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="about-wrapper">
    <div class="about-left">
      <div class="about-left-content">
        <div>
          <div class="shadow">
            <div class="about-img">
              <img src="../../../assets/icon/about-me-image.jpeg" alt="about image">
            </div>
          </div>

          <h2>David Antúnez Pérez</h2>
          <h3>2º DAM Student</h3>
        </div>

        <ul class="icons">
          <li onclick="location.href='mailto:antunezdavid2003@gmail.com';">
            <ion-icon name="mail"></ion-icon>
          </li>
          <li onclick="location.href='https://www.linkedin.com/in/davidantunezperez/';">
            <ion-icon name="logo-linkedin"></ion-icon>
          </li>
          <li onclick="location.href='https://twitter.com';">
            <ion-icon name="logo-twitter"></ion-icon>
          </li>
          <li onclick="location.href='https://www.instagram.com/daviidantunez_/';">
            <ion-icon name="logo-instagram"></ion-icon>
          </li>
        </ul>
      </div>

    </div>

    <div class="about-right">
      <h1>About me<span>!</span></h1>
      <h2>Here's who I am & what I do</h2>

      <div class="about-para">
        <p>I am a 19 year's old programming passionate student that aims to be one of the best programmers in the future. Born in
          Málaga, at 14 started programming small little programs. My hobbies are playing videogames, paddle and also
          watching eSports. I am currently studying Cross-Platform App Development in CPIFP Malaga Tech Park</p>
        <p>
          The project idea comes from ease the management of one of my favorite sectors, eSport world.
        </p>
      </div>
      <div class="credit">Made with <a href="https://https://ionicframework.com/">Ionic Framework</a> by <a
          href="https://github.com/DavidAntunezPerez">David Antúnez Pérez</a></div>
    </div>
  </div>
</ion-content>