ion-content {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  --background: #1f2029;
  --background-checked: #7a49a5;

  --handle-background: #7a49a5;
  --handle-background-checked: #000;
  color: white;
}