// dark color toolbar
ion-toolbar {
  --background: #1f2029;
  color: #c4c3ca;
}
ion-item-native,
ion-select,
ion-list,
ion-item,
ion-content,
ion-select {
  --background: #1f2029;
  background-color: #1f2029;
  color: #ffeba7;
  --placeholder-color: #ffeba7;
  --placeholder-opacity: 1 !important;
}
ion-content {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  --background: #1f2029;
  --background-checked: #7a49a5;

  --handle-background: #7a49a5;
  --handle-background-checked: #000;
  color: white;
}