<ion-content>
  <!-- TOOLBAR LANGUAGE CHANGE -->
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-item>
        <ion-select interface="popover" [(ngModel)]='language' (ionChange)='languageChange()'
          [placeholder]='"home.languageChangePlaceholder" | translate'>
          <ion-select-option value='en'>English</ion-select-option>
          <ion-select-option value='es'>Español</ion-select-option>
          <ion-select-option value='fr'>Français</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
  <!-- COMPONENT SIGNUP -->
  <app-signup></app-signup>
</ion-content>
