<form class="box" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
  <h1>{{'login.title' | translate}}</h1>
  <input type="text" formControlName="email" placeholder="{{'login.username' | translate}}">
  <input type="password" formControlName="password" placeholder="{{'login.password' | translate}}">
  <input type="submit" value="{{'login.button' | translate}}">
  <ion-button (click)="onClick()">
    <ion-img src="../../../../../assets/icon/sign-google.png" style="width:15%; padding-right: 10px" alt="Google logo"></ion-img>
    Login with Google
  </ion-button>
  <ion-button (click)="onRegister()" color="primary" fill="clear">
    <small>
      {{'login.signup' | translate}}
    </small>
  </ion-button>
</form>
