<ion-header>
  <ion-toolbar>
    <ion-title translate [translateParams]="{ language: language }">teams.title</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- TEAM LIST CONTENT -->
  <app-teamlist *ngFor="let tam of getTeam()" [tam]="tam" (onDelete)="onDeleteTeam($event)" (onEdit)="onEditTeam($event)" (onFav)="onFavTeam($event)"></app-teamlist>
</ion-content>
  
<!-- BUTTON RIGHT BOTTOM TO ADD -->
<ion-button (click)="onNewTeam()" slot="start" icon-only color="warning">
  <ion-icon style="zoom:2" name="add-outline"></ion-icon>
</ion-button>
