<form class="box" [formGroup]="formReg" (ngSubmit)="onSubmit()">
  <h1>{{'register.title' | translate}}</h1>
  <input type="text" formControlName="email" placeholder="{{'register.username' | translate}}">
  <input type="password" formControlName="password" placeholder="{{'register.password' | translate}}">
  <input type="submit" value="{{'register.button' | translate}}">
  <ion-button (click)="onLogin()" color="primary" fill="clear">
    <small>
      {{'register.signin' | translate}}
    </small>
  </ion-button>
</form>