<ion-header>
  <ion-toolbar>
    <ion-title translate [translateParams]="{ language: language }">rosters.title</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-rosterlist *ngFor="let roster of getRosters()" [roster]="roster" (onEdit)="onEditRoster($event)" (onDelete)="onDeleteRoster($event)"></app-rosterlist>
</ion-content>
  
<!-- BUTTON RIGHT BOTTOM TO ADD -->
<ion-button (click)="onNewRoster()" slot="start" icon-only color="warning">
  <ion-icon style="zoom:2" name="add-outline"></ion-icon>
</ion-button>
